@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
}

.name-animation {
  opacity: 0;
  animation: fade-in 1s forwards;
}

.text-animation {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 0.5s; /* Delay each text block */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
